body {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
}
.title {
  font-family: "Nunito", sans-serif;
}
html {
  scroll-padding-top: 70px;
  scroll-behavior: smooth;
}
